blinker==1.7.0
certifi @ file:///private/tmp/python-certifi-20240202-5063-q0mlj8/certifi-2024.2.2
cffi @ file:///private/tmp/cffi-20231212-42180-nb05ya/cffi-1.16.0
charset-normalizer==3.3.2
click @ file:///private/tmp/python-click-20231212-49666-9qf6j5/click-8.1.7
cryptography @ file:///private/tmp/python-cryptography-20240224-5657-1e461b/cryptography-42.0.5
Flask==3.0.2
Flask-Cors==4.0.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
protobuf==4.25.3
pycparser @ file:///private/tmp/pycparser-20231211-26290-qd4lvz/pycparser-2.21
pytz @ file:///private/tmp/python-pytz-20240202-4930-br8jbt/pytz-2024.1
PyYAML @ file:///private/tmp/pyyaml-20231019-6134-1qsnlp0/PyYAML-6.0.1
requests==2.31.0
setuptools @ file:///private/tmp/python-setuptools-20240223-4738-b47ohr/setuptools-69.1.1
six==1.16.0
urllib3==2.2.1
Werkzeug==3.0.1
wheel @ file:///usr/local/Cellar/python%403.12/3.12.2_1/libexec/wheel-0.42.0-py3-none-any.whl#sha256=5f1ca525bef7466225922019d72cb06a9e91cd3ff807ddd4be1acb84655e5107
